@{
  ViewData["Title"] = "About";
}

<Container>
  <div class="p-4">
    <h1>About this project.</h1>
    <div class="p-2">
      <h3>What is Doubloon?</h3>
      <p>
        Doubloon is a financial platform designed purely to serve information in the finanical sphere.
        Our approach to information collects not only the high quality vetted information from the major financial institutions,
        but also buzz from major social platforms like Reddit- which provides additional insight and perspective, which other institutions often fail to account for.
      </p>
      <h3>Purpose of this project.</h3>
      <p>Hey, my name is Lucas. This project was built using Microsoft's ASP.NET Core 6.0 MVC. The purpose of this project was to gain experience developing on this platform with MVC in particular and with C#.</p>
    </div>
    <h1>More of my work / Contact me.</h1>
    <a href="https://www.lucasrh.com/"><h3>Lucasrh.com</h3></a>
  </div>
</Container>

