@{
  ViewData["Title"] = "Home Page";
}

<div class="container" style="display: flex; justify-content: center; align-items: center; height: 80vh">
  <div class="row p-2">
    <div class="col text-align-left">
      <h1 style="text-align: center">
        Welcome to your new financial hub.
      </h1>
      <br />
      <h2>All the metrics you need.</h2>
      <h2>All the time.</h2>
      <br />
      <h3>Get started for free.</h3>
      <br />
      <a asp-controller="Crypto" asp-action="News" class="btn w-100 btn-primary">
        Get Started
      </a>
    </div>
  </div>






